
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 32px;  
  
  --photo-bkg-margin-v: 24px;
  --photo-bkg-width: 325px;
  --photo-bkg-height: 306px;
  
  --quote-width: 60px;
}

body {
  overflow-x: hidden;
}

.slides-container {
  position: relative;
  width: max-content;
  left: 0;
  transition: left 0.5s ease-out 0.1s;  
}

.slide {
  display: inline-block;
  width: 100vw;
}

.slide1 {
  left: 0vw;
}

.slide2 {
  left: 100vw;
}

.attribution {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: rgba(0,0,0,0.1);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  color: rgba(0,0,0,0.6);
  font-size: 0.5rem;
}

@media screen and (max-width: 500px) {
  
  .photo-image {
    object-fit: cover;
    width: 100%; /*255px mobile*/
    height: auto;
    border-radius: 2%;
    box-shadow: 0 25px 50px -15px rgba(0,0,0,0.5);
  }

  .arrows-container { 
    position: absolute;
    top: 287px;
    left: 0;
    width: 100%;
    height: 40px;
    --arrow-button-width: 42px;
  }

  #arrow-previous, #arrow-next {  
    background-size: 8.5px 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    width: var(--arrow-button-width);
    height: 100%;  
    display: inline-block;
  }

  #arrow-previous {
    background-image: url('../images/icon-prev.svg');
    border-radius: 50% 0 0 50%; 
    margin: 0 0 0 calc(50% - var(--arrow-button-width));
  }

  #arrow-next {
    background-image: url('../images/icon-prev.svg');
    margin: 0;
    border-radius: 50% 0 0 50%;
    position: relative;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .arwactive:hover {
    position: relative;
    top: -2px;
    box-shadow: -5px 5px 5px 2px rgba(0,0,0,0.2);
  }

  #arrow-previous.arwactive:active,
  #arrow-next.arwactive:active {
    position: relative;
    background-color: hsl(0, 0%, 95%);
    top: 0;
    box-shadow: -5px 5px 5px 2px rgba(0,0,0,0);
  }

  .testimonial {
    text-align: center;
  }

  .prof {
    color: hsl(240, 18%, 77%);
  }

  .photo-background {
    position: absolute;
    margin: var(--photo-bkg-margin-v) calc(50% - var(--photo-bkg-width) / 2);    
    width: var(--photo-bkg-width);
    height: var(--photo-bkg-height);
    top: 0;  
    background-size: contain;
    background-image: url('../images/pattern-bg.svg');
    z-index: -1;
  }

  .curve {
    width: 305px;
    height: 77px;
    background-size: contain; 
    background-image: url('../images/pattern-curve.svg');
  }
  .photo-container {
    position: relative;
    padding: 30px 10%;
    margin: var(--photo-bkg-margin-v) auto;    
    width: var(--photo-bkg-width);
    height: var(--photo-bkg-height);
  }
  
  .quote {    
    position: absolute;
    background-image: url('../images/pattern-quotes.svg');
    background-size: contain;
    background-color: hsl(240, 38%, 20%, 0);  
    width: var(--quote-width);
    height: 50px;
    left: calc(50% - var(--quote-width) / 2);
    top: 360px;
  }
  
  .testimonial-container {
    position: relative;
    margin: 56px auto 0 auto;
    width: 83%;   
    font-size: 0.55rem;   
    line-height: 1.38em; 
    color: black;
  }
  
  .persona {
    text-align: center;
    font-weight: 500;
    font-size: 0.45rem;  
    line-height: 1.4em;
    margin-top: 19px;
  }  
}

@media screen and (min-width: 501px) {
  
}
