
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Light-slnt=0.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium-slnt=0.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold-slnt=0.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.quote {
  position: absolute;
  background-image: url('../images/pattern-quotes.svg');
  background-size: contain;
  background-color: hsl(240, 38%, 20%, 0);
  width: 60px;
  height: 50px;
}

.photo-container {
  position: absolute;
  left: 300px;
  padding: 25px 25px;
  width: 300px;
  height: 300px;
  background-size: contain; 
  background-image: url('../images/pattern-bg.svg'); 
  z-index: -2;  
}

.photo-image {
  object-fit: cover; 
  width: 200px; 
  height: 200px;
  z-index: -1;
}

.arrows-container { 
  position: absolute;
  top: 214px;
  border: solid 1px;
  width: 60px;
  z-index: 1;
}

.arrow-previous, .arrow-next {  
  background-size: 7px 9px;
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
  height: 18px;
  border: solid 1px;  
  display: inline-block;
  margin: 0;
}

.arrow-previous {
  background-image: url('../images/icon-prev.svg');
  border-radius: 50% 0 0 50%;
}

.arrow-next {
  background-image: url('../images/icon-next.svg');
  border-radius: 0 50% 50% 0;
  position: relative;
}

.testimonial {
  width: 500px;
  height: 250px;
}

.curve {
  width: 305px;
  height: 77px;
  background-size: contain; 
  background-image: url('../images/pattern-curve.svg');
}

.attribution {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: rgba(0,0,0,0.1);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  color: rgba(0,0,0,0.6);
}
